
body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat-y;
    background-size: cover;

}

.display {
    width: auto;
    /*height: 470px;*/
    height: 33em;
    background-color:#F7B731;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
}


.left {
    /* 475px and 400px, margin 200px*/
    width: 35vw;
    height: 30px;
    margin-left: 15vw;
    margin-right: auto;
    float: left; 

    padding-right : 30px;

    font-family: 'Lobster';
    font-size: 60pt;
    text-align: right;
    text-shadow: 3px 2px #FAC555;
}

.right {
    width: 35vw;
    height: 30px;
    margin-left: auto;
    margin-right: 200px;

    padding-top : 20px;
}

.options{
    height: 50px;
    margin-left: auto;
    margin-right: auto;

    background-color:#FAC555;
    font-size: 18pt;
    font-family: 'Lobster';
    text-shadow: 3px 2px #F7D388;
}

.choices{
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 180px;

    background-color:#FAC555;
    font-size: 18pt;
    font-family: 'Open Sans';
    text-align: center;
}

.log_in{
    width: 180px;
    float: left; 
    text-align: center;
    padding-right : 25px;
    padding-top : 5px;
}

.sign_up{
    width: 180px;
    float: right; 
    text-align: center;
    padding-left : 25px;
    padding-top : 5px;
}

.choosen_left{
    float: left;
    border-bottom: 50px solid #F7D388;  
    border-right: 10px solid transparent; 
    height: 50px; 
    width: 195px;
    text-shadow: 3px 2px #FAC555;
}

.choosen_right{
    float: right;
    border-bottom: 50px solid #F7D388;
    border-left: 10px solid transparent; 
    height: 50px; 
    width: 195px;
    text-shadow: 3px 2px #FAC555;
}


.forms{
    background-color:  #F7D388; 
    padding-left : 25px;
    padding-right : 25px;
    height: 370px;
    font-size: 10pt;
    font-family: 'Open Sans';
}

.warnings{
    padding-top : 7px;

    font-size: 10pt;
    font-family: 'Open Sans';
    color: red;
}

.field{
    width: 410px;

}

.tag_field{
    text-align: right;
    width: 140px;
    font-size: 13pt;
    font-family: 'Source Sans Pro';
    float: left;
    margin-top: auto;
    margin-bottom: auto;   
}

.form_field{
    height: 3vh;
    font-size: 13pt;
    font-family: 'Open Sans';
}

img {
    height: 50vh;
    width: 30vw;
}

h1 {
    font-size: 30pt;
    font-family: 'Lobster';
    text-shadow: 3px 2px #FAC555;   
    text-align: center;
}

h2 {
    font-size: 13pt;
    font-family: 'Source Sans Pro';  
    text-align: center;
    text-decoration: none;
}

button {
    background-color: #FCA205;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}