
body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

.display_u {
    width: auto;
    height: 70vh;
    background-color:#F7B731;
    background-image: url("../images/manhattan5.png");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    min-height: 200px;
}

.header_l {
    width: 80vw;
    background-color:#F7B731;
    background-image: url("../images/manhattan5.png");
    font-family: 'Lobster';
    font-size: 12vh;
    text-align: right;
    padding-right: 5vw;
    text-shadow: 3px 2px #FAC555;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

}

.card .display_l {
    width: 80vw;
    background-color:#FAC555;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;

    font-family: 'Lato', sans-serif;
    /*font-weight: bold;*/
    font-size: 4vh;
    text-shadow: 3px 2px #F7D388;
}

table{
    table-layout: auto;
    min-width: 40vw;
    align-content: center;
}

tr{
    height: 8vh;
    border-bottom: 1px solid #FAC555;
}

th{
    vertical-align: middle;
    padding-right: 1vw;
}

.container{
    display: flex;
    flex-direction: column;

    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    text-shadow: none;
    font-size: 2.5vh;

    min-height: 40vw;
    height: 100%;
    margin-bottom: 0;
    position: relative;
    border: 1px black;
}

div.list .row {
    background-color: rgba(112, 128, 144, 0.164);
    border-radius: 1vw;
    width: 60vw;
    margin-bottom: 2vh;
}

div.list .row:hover {background-color: rgba(130, 138, 146, 0.336);}

.left {
    /* 475px and 400px, margin 200px*/
    width: 35vw;
    height: 60vh;
    margin-left: 14vw;
    margin-right: auto;
    margin-top: 3vh;
    float: left; 

    padding-right : 2vw;

    font-family: 'Lobster';
    font-size: 12vh;
    text-align: right;
    text-shadow: 3px 2px #FAC555;
}

.right {
    width: 35vw;
    height: 60vh;
    margin-left: auto;
    margin-right: 14vw;
    padding-top : 3vh;
}

a{
    text-decoration: none;
    color:#39382C;
}

div.display_l ul.nav li.nav-item a.nav-link:hover{
    background: #F7D388;
    text-decoration: none;
    color:#39382C;
}

ul.body_list{
    height: 7vh;
    list-style-type: none;
    margin: 0;
    padding: 0;

    background-color:#FAC555;
    font-size: 3.6vh;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-shadow: 3px 2px #F7D388;
}

li.body_list a{
    width: 11vw;
    float: left; 
    text-align: center;
    padding-right : 0.5vw;
    padding-left : 0.5vw;
    vertical-align: middle;
    text-decoration: none;
    text-decoration-style: none;
}
 
li.body_list a:hover {
    text-shadow: 3px 2px #F7D388;
    height: 7.5vh; 
    color:rgb(83, 83, 83);
}

li.body_list a.active {
    text-shadow: 3px 2px #FAC555;
    border-bottom: 7.5vh solid #F7D388;
    border-right: 1.5vw solid transparent; 
    border-left: 1.5vw solid transparent; 
    height: 7.5vh; 
}

.choices{
    height: 7.5vh;
    margin-left: auto;
    margin-right: auto;
    width: 12.6vw;

    background-color:#FAC555;
    font-size: 3.6vh;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.card {
    background-color:  transparent;
    border: none;
    padding-bottom: 3vw; 
    min-width: 40vh;;
}
.card .pages{
    background-color:  #F7D388; 
    padding-left : 2vw;
    padding-right : 2vw;
    padding-bottom: 3vw; 

    font-size: 4vh;
    font-family: 'Lato', sans-serif;  
}

.warnings{
    padding-top : 1vh;
    font-size: 2vh;
    font-family: 'Lato', sans-serif;
    color: red;
}

.form_field{
    height: 3vh;
    font-size: 2.5vh;
    font-family: 'Lato', sans-serif;
}

tr div.form_field{
    height: auto;
    font-size: 2.5vh;
    font-family: 'Lato', sans-serif;
}

img {
    height: 50vh;
    width: 30vw;
}

h1 {
    font-size: 6vh;
    font-family: 'Lobster';
    text-shadow: 3px 2px #FAC555;   
    text-align: center;
}

h2 {
    font-size: 2.6vh;
    font-family: 'Lato', sans-serif;  
    text-align: center;
    text-decoration: none;
}

h3 {
    font-size: 5vh;
    font-family: 'Lobster';
    text-shadow: 3px 2px #FAC555;   
    text-align: right;
}

h4 {
    font-size: 3vh;
    font-family: 'Lato', sans-serif;   
    text-align: left;
    padding-left: 0.5vw;
}

button {
    background-color: #FCA205;
    border: none;
    color: white;
    padding: 1.5vh 1.4vw;
    text-align: center;
    font-size: 2.4vh;
    cursor: pointer;
    border-radius: 1vh;
}

.dropdown-content a:hover {background-color:#FAC555 ;}

.dropdown {
    cursor: pointer;
}

div.dropdown {
    display: inline-block;
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    font-size: 2vh;
    background-color: #F7D388;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    right: 0;
    color: black;
    text-decoration: none;
    font-family: 'Lato', sans-serif; 
    font-weight: none; 
    text-shadow: none;
    display: block;
    text-align: right;
    padding-right: 0.5vw;
}

.dropdown:hover .dropdown-content {
    display: block;
}