
body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

.display_u {
    width: auto;
    height: 44rem;
    background-color:#F7B731;
    background-image: url("../images/manhattan5.png");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    min-height: 200px;
}

.header_l {
    width: 80vw;
    background-color:#F7B731;
    background-image: url("../images/manhattan5.png");
    font-family: 'Lobster';
    font-size: 5em;
    text-align: right;
    padding-right: 5vw;
    text-shadow: 0.2vw 0.3vh #FAC555;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

}

.card .display_l {
    width: 80vw;
    min-height: 60vh;
    background-color:#FAC555;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;

    font-family: 'Lato', sans-serif;
    font-size: 3vh;
    text-shadow: 0.2vw 0.3vh #F7D388;
}

.left {
    
    margin-right: 1rem;
    margin-top: 3vh;

    padding-right : 2vw;

    font-family: 'Lobster';
    font-size: 10em;
    text-align: right;
    text-shadow: 0.2vw 0.3vh #FAC555;
}

.right {
    padding-top : 3vh;
    width: auto;
}

.input-group{
    width: 20rem;
}

input.form-control{
    font-family: 'Lato', sans-serif;
}

table{
    table-layout: auto;
    align-content: center;
}

tr{
    height: 8vh;
    border-bottom: 1px solid #FAC555;
}

th{
    vertical-align: middle;
    padding-right: 1vw;
}

.container{
    display: flex;
    flex-direction: column;

    width: 61vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-shadow: none;
    font-size: 0.7em;

    margin-bottom: 0;
    position: relative;
}

.history .carousel-inner .container{
    overflow-x: auto;
    background-color: rgba(112, 128, 144, 0.164);
    font-size: 3vh; 
    width: 55vw; 
    height: 50vh;
    text-align: center;
    font-size: 0.7em;
}

.history .carousel-inner .row{
    width: 55vw;
}

.strip {
    background-color:#FAC555;
    height: 6vh;
    line-height: 6vh;
    vertical-align: middle;
    border-radius: 0.5vw;
    width: 61vw;
}

.title{
    background-color:#FAC555;
    text-shadow: 0.2vw 0.3vh #F7D388;
    height: 6vh;
    line-height: 6vh;
    vertical-align: middle;
    width: 100%;

    font-size: 5vh;
    font-family: 'Lobster';
    text-align: right;
    padding-right: 5vw;
}

div.list .row {
    background-color: rgba(112, 128, 144, 0.164);
    border-radius: 1vw;
    width: 61vw;
    margin-bottom: 2vh;
}

div.list .row:hover {background-color: rgba(130, 138, 146, 0.336);}

a{
    text-decoration: none;
    color:#39382C;
}

.display_l .nav-link{
    font-size: 3vh;
}

.display_l nav{
    float: left;
    width: 100%;
    margin:0; 
    padding: 0;
}

.display_l ul{
    width: 100%;
    padding: 0;
}

.display_l li{
    width: 100%;
}

.display_l nav a:hover{
    background: #F7D388;
    text-decoration: none;
    color:#39382C;
}

/* unlogged page login % signup*/
.body_list nav{
    list-style-type: none;

    background-color: #FAC555;
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-shadow: 0.2vw 0.3vh #F7D388;
    padding: 0;
    margin: 0; 
    border:0;
}

.body_list button{
    border-width: 1px;
    background-color:transparent;
    color: #39382C;
    text-align: center;
}

.body_list .collapse{
    padding: 0; 
    margin: 0;
}

.body_list button:hover{
    border-width: 1px;
    background-color:transparent;
    color: white;
}

.body_list li{
    width: 50%;
    margin: 0;
    padding: 0;
    height: 100%;
}

.body_list li a{
    padding-right : 1em;
    padding-left : 1em;
    vertical-align: middle;
    text-decoration: none;
    text-decoration-style: none;
}

.body_list li a:hover {
    background-color: transparent;
    text-shadow: 0.2vw 0.3vh #F7D388;
    color:rgb(83, 83, 83);
}

.body_list .active {
    height: 0;

    text-shadow: 0.2vw 0.3vh #FAC555;
    border: 2rem solid transparent;
    border-top: 0 solid;
    border-bottom: 5.5rem solid #F7D388;

}

.choices{
    height: 7.5vh;
    margin-left: auto;
    margin-right: auto;
    width: 12.6vw;

    background-color:#FAC555;
    font-size: 3.6vh;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.card {
    background-color:  transparent;
    border: none;
    padding-bottom: 3vw; 
    min-width: 40vh;
}
.card .pages{
    background-color:  #F7D388; 
    width: 100%;
    padding-bottom: 3vw; 
    margin: 0;

    font-size: 3rem;
    font-family: 'Lato', sans-serif;  
    min-height: 60vh;
}

.warnings{
    padding-top : 1vh;
    font-size: 2vh;
    font-family: 'Lato', sans-serif;
    color: red;
}

.form_field{
    height: 3vh;
    font-size: 2.5vh;
    font-family: 'Lato', sans-serif;
}

tr div.form_field{
    height: auto;
    font-size: 2.5vh;
    font-family: 'Lato', sans-serif;
}

img {
    height: 50vh;
    width: 30vw;
}

h1 {
    font-size: 4rem;
    font-family: 'Lobster';
    text-shadow: 0.2vw 0.3vh #FAC555;   
    text-align: center;
}

h2 {
    font-size: 1.7rem;
    font-family: 'Lato', sans-serif;  
    text-align: center;
    text-decoration: none;
}

h3 {
    font-size: 3rem;
    font-family: 'Lobster';
    text-shadow: 0.2vw 0.3vh #FAC555;   
    text-align: right;
}

h4 {
    font-size: 3rem;
    font-family: 'Lato', sans-serif;   
    text-align: left;
    padding-left: 0.5vw;
}

h5 {
    font-size: 2.7rem;
    font-family: 'Lobster'; 
    text-shadow: 0.2vw 0.3vh #FAC555;
    text-align: left;
}

button {
    background-color: #FCA205;
    border: none;
    color: white;
    padding: 1rem 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 1rem;
    font-family: 'Lato', sans-serif;
}

button:hover {
    border: none;
    color: white;
}

input.form-control{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 1.3rem;   
}

.carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;
  
}
.left.carousel-control {
    right: 30px;
    left: inherit;
}

.thumbnails{
    align-content: center;
    align-items: center;
    align-self: center;
    margin: auto auto auto auto;
}

.fff{
    text-align: center;
}


li.col-sm-3{
    background-color: rgba(112, 128, 144, 0.164);
    margin: auto auto auto auto;
    list-style-type: none;
    float: left;
    margin-left: 2.8vw;
}

li.col-sm-3:hover {background-color: rgba(130, 138, 146, 0.336);}

div.caption h4{
    font-size: 3vh;
    text-align: center;
}

div.caption h2{
    font-style: italic;
    text-align: center;
}

div.caption button{
    padding: 1vh 1vw;
    font-size: 2vh;
}

div.caption hr{
    display: block;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(53, 61, 68, 0.322);
    color: rgba(53, 61, 68, 0.322);
    border-color: rgba(53, 61, 68, 0.322);
}

.slidecontainer {
    width: 20vw;
    padding: 1.5vh 1.4vw;
}

.slider {
    -webkit-appearance: none; 
    width: 100%;
    height: 1vh;
    background: rgba(112, 128, 144, 0.164); 
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /*appearance: none;*/
    width: 5vw; 
    height: 2vh;
    background: #F7B731;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 0.5vw; 
    height: 2vh;
    background: #F7B731;
    cursor: pointer;
}

.star-rating {
    line-height:32px;
    font-size:1.25em;
  }
  
.star-rating .fa-star{color: orange;}

.comment{      
    border-radius: 0.5em;
    background-color: wheat;
    width: 20em;
}

.comment .date{
    background-color: rgb(224, 203, 163);
    font-size: 0.7em;
}  