{% extends 'base.html' %}
 
{% block display %}
 
<header>
    <div class = "header_l">
        Unter <br>
    </div>        
</header>
 
<main>
    <div class = "card">
    <div class = "display_l">
        <div style="width: auto">
            <div class = "pages">
                <br style = "display: block;">
                <h1 style = " text-align: left; padding-left: 0.5vw; ">Hi folks!</h1>
                <h4>
                     <!--TUTAJ PISZ-->
                </h4>
            </div>        
        </div>      
    </div>
    </div>
</main>
 
{% endblock %}