{% extends 'base.html' %}
 
{% block display %}
 
<header>
    <div class = "header_l">
        Unter <br>
    </div>        
</header>
 
<main>
    <div class = "card">
    <div class = "display_l">
        <div style="width: auto">
            <div class = "pages">
                <br style = "display: block;">
                <h1 style = " text-align: left; padding-left: 3rem; ">Hi folks!</h1>
                <h4 style="padding-left: 5rem; font-size: 3rem;">You need to get a ride and You don't want to overpay?
                <br>
                    Or maybe You are an extraordinary driver, who like to meet new people?</h4>
                <h1>Join Unter today!</h1>

                <ul style="padding-left: 7rem; font-size: 2rem; width: auto;">
                    <li>
                        <p>Passenger</p>
                        <ul style="width: auto; padding-left: 3rem;">
                            <li>Order a ride for You and your friends. See estimated time of the trip in app.</li>
                            <li>Select one of many options like: no sharing, transporting animal, big baggage, class of a vehicle,
grade of a Driver.</li>
                            <li>Share a ride with another user and save money!</li>
                        </ul>

                    </li>
                    <li>
                        <p>Driver</p>
                        <ul style="width: auto; padding-left: 3rem;">
                            <li>Going on the roadtrip? Take some passengers and reduce costs!</li>
                            <li>Accept ordered trip, and earn money!</li>
                            <li>The more people you take, ther more money you earn.</li>
                        </ul>
                    </li>
                </ul>
                
            </div>        
        </div>      
    </div>
    </div>
</main>
 
{% endblock %}
