{% extends 'base.html' %}

{% block display %}
    <header class = "header_l">
        Unter <br>
    </header>


    <div class = "card">
     <div class = "display_l">
         <div style="float: left; width: 10vw;">
            <ul class="nav flex-column" >
              <li class="nav-item" style = "border-bottom: 2px solid #F7D388;" >
                <a class="nav-link" href="{% url 'home' %}"> Ride </a>
              </li>
              <li class="nav-item" style = "border-bottom: 2px solid #F7D388;">
                <a class="nav-link" href="{% url 'offer' %}"> Drive </a>
              </li>
              <li class="nav-item" style = "border-bottom: 2px solid #F7D388;">
                <a class="nav-link" href="{% url 'profile_summary' %}">Profile</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
         </div>

         <div style="float: left; width: 70vw; ">
           <div class = "pages">
              <br style = "display: block;">
             {% block content %}

             {% endblock %}
            </div>
         </div>
         
        </div>
      </div>
  

{% endblock %}