{% extends 'base.html' %}
 
{% block display %}
 
<header>
    <div class = "header_l">
        Unter <br>
    </div>        
</header>
 
<main>
    <div class = "card">
    <div class = "display_l">
        <div style="width: auto">
            <div class = "pages">
                <br style = "display: block;">
                <h1 style = " text-align: left; padding-left: 0.5vw; ">Hi folks!</h1>
                <h4 style="padding-left: 5rem; font-size: 3rem;">
                     Perhaps you came to this page, because you need some help. Here are some tips for you:
                </h4>
                <div style="text-align: center;">
                    <a href='http://pomocwkrakowie.pl/'>Psychological Help</a>
                </div>
            </div>        
        </div>      
    </div>
    </div>
</main>
 
{% endblock %}
