{% extends 'base_logged.html' %}

{% block content %}

    <h3>Plan your ride</h3>

{% if recent_ride_status == 'SET_BY_PASSENGER' or recent_ride_status == 'ACCEPTED' %}

    <h1 style = "text-align: left">Sorry!</h1> <br>
    <h4>You cannot take another ride when previous is in progress. <br>
    Finish your ride to set new one.</h4>
    <br>
    <h2>You can finish your ride here: </h2>
    <center><a href="{% url 'profile_summary' %}"><button>Finish here!</button></a></center>

{% else %}

    <div class = "warnings">
      {% for field in form %}
        {% for error in field.errors %}
          {{ error }} <br>
        {% endfor %}
      {% endfor %}
    </div>

    <form method="POST" class="ride-form">
        {% csrf_token %}
        
        <table>
        
        <tr  scope = "row">
            <th>
                <h4>From:</h4>
            </th>
            <th >
                <div class="input-group mb-1">
                    <input id="pickup_longitude" name="pickup_longitude" type="number" step=0.000001 class="form-control" placeholder="pickup longitude" max="999" min="-999" aria-label="pickup longitude" aria-describedby="basic-addon1"  style ="border-radius: 1vh;" required autofocus>
                </div>
            </th>
            <th >
                <div class="input-group mb-1">
                    <input id="pickup_latitude" name="pickup_latitude" type="number" step=0.000001 class="form-control" placeholder="pickup latitude" max="999" min="-999" aria-label="pickup_latitude" aria-describedby="basic-addon1"  style ="border-radius: 1vh;" required>
                </div>
            </th>
        </tr>
        <tr scope = "row">
                <th>
                    <h4>To:</h4>
                </th>
                <th>
                    <div class="input-group mb-1">
                            <input id="dropoff_longitude" name="dropoff_longitude" type="number" step=0.000001 class="form-control" placeholder="dropoff longitude" max="999" min="-999" aria-label="dropoff_longitude" aria-describedby="basic-addon1"  style ="border-radius: 1vh;" required>
                    </div>               
                </th>
                <th>
                    <div class="input-group mb-1">
                            <input id="dropoff_latitude" name="dropoff_latitude" type="number" step=0.000001 class="form-control" placeholder="dropoff latitude" max="999" min="-999" aria-label="dropoff latitude" aria-describedby="basic-addon1"  style ="border-radius: 1vh;" required>
                    </div> 
                </th>
        </tr>
        <tr scope = "row">
                <th>
                    <h4>Number of passengers:</h4>
                </th>
                <th>
                    <div class="input-group mb-1">
                            <input id="passenger_counte" name="passenger_count" type="text"  value="1" size="1" maxlength="4" pattern="[1-4]" title="value from 1 to 4" class="form-control" aria-label="passenger_count" aria-describedby="basic-addon1"  style ="border-radius: 1vh;" required>
                    </div> 
                </th>
        </tr>
    
    </table>

    {% for error in field.errors %}
        <div class = "warnings">
            {{ error }}
        </div>
    {% endfor %}

        <br><br>
        <center><button type="submit">Continue</button></center>
    </form>

{% endif %}

{% endblock %}