{% extends 'base_unknown.html' %}

{% block content %}

<div class = "body_list" >
<nav class="navbar navbar-expand-lg">

  <button class="navbar-toggler" type="button"data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    MENU
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav justify-content-center" >

      <li class="nav-item active" style = "text-align: left; border-left: 0; ">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style = "text-align: right;" href="{% url 'signup' %}">Sign up</a>
      </li>

    </ul>
  </div>
</nav>
</div>


  <div class = "card" style = "background-color: #F7D388; height: 35em;" >
    <br>

  <h1>Welcome to Unter! </h1>
  <h2>Please, log in:</h2>

  <div class = "warnings">
    {% if form.errors %}
      Your username and password didn't match. Please try again. 
    {% endif %}
  </div>
  <center>
    <form class = "form-horizontal" method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />

        <div class="input-group mb-1">
          <input id="username" name="username" type="text" class="form-control" placeholder="Username" aria-label="username" aria-describedby="basic-addon1"  style ="border-radius: 1vh;" required autofocus>
        </div> 

        <br style = "display: block; margin: 0.5vh">
        
        <div class="input-group mb-1">
          <input id="password" name="password" type="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="basic-addon1"  style ="border-radius: 1vh;" required autofocus>
        </div> 

        {% for error in field.errors %}
        <div class = "warnings">
          {{ error }}
        </div>
        {% endfor %}
              
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}

        <br>
        <button type="submit">CONTINUE</button>

    </form>
  </center>
      
  <h2><a href="{% url 'signup' %}" style="text-decoration:none;" ><font color = #39382C>Don't have an account?  Sign up for free!</font></a></h2>
  
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}
