{% extends 'base_unknown.html' %}

{% block content %}
<ul class = "body_list">
  <li class = "body_list">
    <a class = "active" style="width: 15vw; border-left: 0" href="{% url 'login' %}">
       <p style="padding-top: 0.7vh">Log in</p>
    </a>
  </li>
  <li class = "body_list" style="float:right">
    <a style="width: 15vw" href="{% url 'signup' %}">
        <p style="padding-top: 0.7vh">Sign up</p>
    </a>
  </li>
</ul>


  <div style = "background-color: #F7D388; height: 55vh;" >
      <br>

  <h1>Welcome to Unter! </h1>
  <h2>Please, log in:</h2>

  <div class = "warnings">
      {% if form.errors %}
       Your username and password didn't match. Please try again. 
      {% endif %}
  </div>
        <center>
            <form class = "form-horizontal" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />

              <div class = "form_field"> <input id="username" type="text" name="username" value="{{ current_name }}" placeholder="Username" required autofocus> </div>
              <br>
              <div class = "form_field"> <input id="password" type="password" name="password" value="{{ current_name }}" placeholder="Password" required></div>

              {% for error in field.errors %}
              <div class = "warnings">
                {{ error }}
              </div>
              {% endfor %}
              
              {% if field.help_text %}
                <p><small style="color: grey">{{ field.help_text }}</small></p>
              {% endif %}
              <br><br>
              <button type="submit">Continue</button>
            </form>

        </center>
      
    
    <h2><a href="{% url 'signup' %}" style="text-decoration:none;" ><font color = #39382C>Don't have an account?  Sign up for free!</font></a></h2>
  
</div>

{% endblock %}
