{% extends 'base.html' %}

{% block content %}
  <div class = "options">
      <a href="{% url 'login' %}" style="text-decoration:none;">
    <div class = "choosen_left">
      <div class = "log_in">
          <p style="color:#39382C"><i>Log in</i></p>
      </div>
    </div>
  </a>

  <a href="{% url 'signup' %}" style="text-decoration:none;">
    <div class = "sign_up">
       <p style="color:#39382C"><i>Sign up</i></p>
    </div>
  </a>
  </div>


  <div class = 'forms'>
    <br>
  <div class = "warnings">
      {% if form.errors %}
       Your username and password didn't match. Please try again.
      {% endif %}
  </div>

    <form method="post" class = "form-horizontal">
    
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <p>
          <div class = "field">
              <div class = "tag_field">{{ field.label_tag }}</div>
              <div class = "form_field">{{ field }}</div>
          </div>

        {% for error in field.errors %}
        <div class = "warnings">
          {{ error }}
        </div>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    
    {% endfor %}

    <br><br>
    <center><button type="submit">Log in</button></center>
  </form>
</div>

{% endblock %}
