{% extends 'base.html' %}

{% block content %}

<ul>
    <li>
      <a  href="{% url 'home' %}">
         Ride
      </a>
    </li>
    <li>
      <a class = "active"  style="width: 15vw" href="{% url 'offer' %}">
        Drive
      </a>
    </li>
    <li>
      <div class="dropdown">
        <p style="color:#39382C">Account</p>
         <div class="dropdown-content">
            <a href="{% url 'signup_driver' %}" style="text-decoration:none;"><p style="color:#39382C">Become a driver</p></a>
            <a href="{% url 'logout' %}" style="text-decoration:none;"><p style="color:#39382C">Logout</p></a>
        </div>
    </div>
    </li>
  </ul>
  
  
  <div class = "forms">
    <br>
      page in progres
  
  </div>
  
  


{% endblock %}
