{% extends 'base_logged.html' %}

{% block content %}


<div class="title">
      Available rides
</div>  

<div class="container" style=" width: 90rem;">

{% if not rides_active %}

<h1 style = "text-align: left">Sorry!</h1> <br>
<h4> No rides available now! </h4>
<br>

{% else %}

   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
         <br/>  
        	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="0">

                  <div class="carousel-inner">
                        {% for pickup, dropoff, ride in rides_active %}

                       <!--new carousel page-->
                       {% if forloop.counter0|divisibleby:3  %}     
                              {% if forloop.first %} 
                                    <div class="carousel-item active">
                              {% else %}
                                    <div class="carousel-item">
                              {% endif %}
                              
                              <div class="d-block" >
                                    <ul class="thumbnails"  style = "width: auto">
                        {% endif %}

                                          <!--new carousel item-->
                                          <li class="col-sm-3">
                                                      <div class="caption">
                                                            <h4>
                                                                  Target: <br> 
                                                                  <hr>
                                                                  {{ dropoff }}
                                                            </h4>
                                                            <h2>
                                                                  Start Point:<br>
                                                                  <hr>
                                                                  {{ pickup }}
                                                            </h2>
                                                            <h2>
                                                                  Passengers: {{ ride.passenger_count }}
                                                            </h2>
                                                            <form method="POST" class="acceptRide-form">
                                                               {% csrf_token %}
                                                               <button class="submit", value={{ride.pk}}, name="take">TAKE ORDER</button>
                                                            </form>
                                                        <br><br>
                                                      </div>
                                          </li>  
                                          <!--end of carousel item--> 

                        {% if forloop.counter|divisibleby:3 or forloop.last %}      
                                    </ul>                                     
                              </div>
                          </div>

                        <!--end of carousel page-->
                        {% endif %}
                                           
                        {% endfor %}
                  </div>

        		<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                  </a>
        	</div>
        </div>
      </div>
    </div>

{% endif %}

    <!-- jQuery first, then Bootstrap JS. -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

      {% endblock %}
