{% extends 'base_logged.html' %}

{% block content %}

<h3>{{ user.username }} rides history</h3>

<div class="container">

    <div class="row" style="width: 60vw">
        <div class="col">
            From:
        </div>
        <div class="col">
            To:
        </div>
        <div class="col-2">
            Date:
        </div>
        <div class="col-3">
            Status:
        </div>
    </div>
    <div class = "list">
    {% for ride in rides_history %}
         <div class="row">
            <div class="col">
                ( {{ ride.pickup_longitude }} , {{ ride.pickup_latitude }} )
            </div>
            <div class="col">
                ({{ride.dropoff_longitude}} , {{ride.dropoff_latitude }})
            </div>
            <div class="col-2">
                {{ride.pickup_datetime}}
            </div>
            <div class="col-3">
                {{ride.get_status_display}}
            </div>            
          </div>
    {% endfor %}
    </div>
</div>

{% endblock %}