
{% extends 'base_logged.html' %}

{% block content %}

<h3>{{ user.username }} rides history</h3>
<br>
{% if recent_ride_status == 'SET_BY_PASSENGER' or recent_ride_status == 'ACCEPTED' %}
<div class = "strip">
    <h4>Current ride:</h4>
</div>


{% for ride in rides_history %}
    {% if ride.status == 'SET_BY_PASSENGER' or ride.status == 'ACCEPTED' %}

<div class="container" style = "background-color: rgba(112, 128, 144, 0.164); border-radius: 0.5vw; font-size: 3vh;">
    <div class="row" style="width: 60vw; border-bottom: 1px solid rgba(53, 61, 68, 0.322);">
        <div class="col-3" style = "font-size: 3.5vh;">
            Status:
        </div>
        <div class="col">
            {{ ride.status }}
        </div>
    </div>
    <div class="row" style="width: 60vw;  border-bottom: 1px solid rgba(53, 61, 68, 0.322);">
        <div class="col-3" style = "font-size: 3.5vh;">
            From:
        </div>
        <div class="col">
            {{ ride.pickup_longitude }}
        </div>
        <div class="col">
            {{ ride.pickup_latitude }}
        </div>
    </div>
    <div class="row" style="width: 60vw;  border-bottom: 1px solid rgba(53, 61, 68, 0.322);">
        <div class="col-3" style = "font-size: 3.5vh;">
            To:
        </div>
        <div class="col">
            {{ ride.dropoff_longitude }}
        </div>
        <div class="col">
            {{ ride.dropoff_latitude }}
        </div>
    </div>
    <div class="row" style="width: 60vw;">
        <div class="col-3" style = "font-size: 3.5vh;">
            Estimated Time:
        </div>
        <div class="col">
            <!--HERE GOES OUT ML-->
        </div>
    </div>    
</div>
<br>
{% endif %}
{% endfor %}

<form method="GET" class="ride-form">
    {% csrf_token %}
    <center>
        <table style = "border: none">
        <tr style = "height: auto">
            <th>
                <center><button type = "submit" value="cancel" name="cancel">CANCEL RIDE</button></center>
            </th>
            <th>
                <center><button type = "submit" value="finish" name="finish">FINISH RIDE</button></center>
            </th>
        </tr>
         </table>
    </center>
</form>

<br>
{% endif %}

{% if rides_history or rides_history_as_driver %}
<div class = "strip">
    <h4>History:</h4>
</div>

<div class="container">

    <div class="row" style="width: 61vw">
        <div class="col">
            From:
        </div>
        <div class="col">
            To:
        </div>
        <div class="col-2">
            Date:
        </div>
        <div class="col-3">
            Status:
        </div>
    </div>
    <div class = "list">
    {% for ride in rides_history %}
         <div class="row">
            <div class="col">
                ( {{ ride.pickup_longitude }} , {{ ride.pickup_latitude }} )
            </div>
            <div class="col">
                ({{ride.dropoff_longitude}} , {{ride.dropoff_latitude }})
            </div>
            <div class="col-2">
                {{ride.pickup_datetime}}
            </div>
            <div class="col-3">
                {{ride.get_status_display}}
            </div>            
          </div>
    {% endfor %}
    <div class = "strip">
    <h4>History as driver:</h4>
    </div>
    {% for ride in rides_history_as_driver %}
         <div class="row">
            <div class="col">
                ( {{ ride.pickup_longitude }} , {{ ride.pickup_latitude }} )
            </div>
            <div class="col">
                ({{ride.dropoff_longitude}} , {{ride.dropoff_latitude }})
            </div>
            <div class="col-2">
                {{ride.pickup_datetime}}
            </div>
            <div class="col-3">
                {{ride.get_status_display}}
            </div>            
          </div>
    {% endfor %}
    </div>
</div>

{% else %}
<div class="container">
    <h4 style="padding-left: 0">You don't have any rides yet.</h4>
    <h2 style="text-align: left;">Plan yor first ride <a href="{% url 'home' %}">here</a>.</h2>

</div>
{% endif %}

{% endblock %}
