{% extends 'base.html' %}

{% block content %}
  <div class = "options">
    <a href="{% url 'login' %}" style="text-decoration:none;">
    <div class = "log_in">
        <p style="color:#39382C"><i>Log in</i></p>
    </div>
  </a>

  <a href="{% url 'signup' %}" style="text-decoration:none;"></a>
    <div class = "choosen_right">
      <div class = "sign_up">
          <p style="color:#39382C"><i>Sign up</i></p>
      </div>
    </div>
  </a>
  </div>

  <div class = "forms">
    <br>
      {% for field in form %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      {% endfor %}

      <center>
          <form method="post">
              {% csrf_token %}
              
  
            <div class = "form_field"> <input id="username" type="text" name="username" value="{{ current_name }}" placeholder="Username" required autofocus> </div>
            <br><br>
            <div class = "form_field"> <input id="password1" type="password" name="password1" value="{{ current_name }}" placeholder="Password" required></div>
            <br><br>
            <div class = "form_field"> <input id="password2" type="password" name="password2" value="{{ current_name }}" placeholder="Confirm Password" required></div>
            <br><br>
            <div class = "form_field">
            <label for="is_driver">Do you want to be a driver?</label>
            <input id="is_driver" type="checkbox" name="is_driver" value="{{ current_name }}" ></div>
  
  
            <br><br>
            <button type="submit">Continue</button>
          </form>
  
      </center>
          <!--
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          -->



</div>
{% endblock %}