{% extends 'base_unknown.html' %}

{% block content %}

  <ul class = "body_list">
    <li class = "body_list">
      <a style="width: 15vw" href="{% url 'login' %}">
        <p style="padding-top: 0.7vh; font-size: 3.6vh;">Log in</p>
      </a>
    </li>
    <li class = "body_list" style="float:right">
      <a class = "active"  style="width: 15vw; border-right: 0" href="{% url 'signup' %}">
        <p style="padding-top: 0.7vh; font-size: 3.6vh;">Sign up</p>
      </a>
    </li>
  </ul>

  <div style = "background-color: #F7D388; height: 55vh;" >
    <br>
    <h2>Please, fill the forms:</h2>
    <div class = "warnings">
      {% for field in form %}
        {% for error in field.errors %}
          {{ error }} <br>
        {% endfor %}
      {% endfor %}
    </div>

    <center>
      <form method="post">
        {% csrf_token %}
              
        <div class="input-group mb-1" style = "width: 15vw;">
          <input id="username" name="username" type="text" class="form-control" placeholder="Username" aria-label="username" aria-describedby="basic-addon1"  style ="border-radius: 1vh;" required autofocus>
        </div> 

        <br style = "display: block; margin: 0.5vh">
            
        <div class="input-group mb-1" style = "width: 15vw;">
          <input id="password1" name="password1" type="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="basic-addon1"  style ="border-radius: 1vh;" required autofocus>
        </div> 

        <br style = "display: block; margin: 0.5vh">
          
        <div class="input-group mb-1" style = "width: 15vw;">
          <input id="password2" name="password2" type="password" class="form-control" placeholder="Confirm Password" aria-label="password" aria-describedby="basic-addon1"  style ="border-radius: 1vh;" required autofocus>
        </div>

        <br>
        <button type="submit">CONTINUE</button>
      </form>
  
    </center>

{% endblock %}


