{% extends 'base_logged.html' %}

{% block content %}


<br>
<h1>Become Driver right now!</h1>
<h2>Offer rides, take orders and meet new people</h2>
<br>

          <center>
              <form method="post">
                  {% csrf_token %}
                  
                <div class = "form_field"> <input id="car" type="text" name="car" value="{{ current_name }}" placeholder="Car" required autofocus> </div>
                
                <br><br>
                <button type="submit">Continue</button>
              </form>
      
          </center>
    </div>




{% endblock %}
